div.anchordiv {
  align-content: center; }

div.biocontainer {
  display: block;
  margin: 0 auto;
  min-height: 350px;
  max-width: 750px;
  position: relative; }

div.profile {
  left: 0;
  position: absolute;
  top: 0;
  width: 290px; }

div.bio {
  margin-left: 350px; }
